# Exercise: US States Data

Let's practice how to do data processing with Pandas and Numpy.
Here we will consider an example of some data about US states and their populations.
The data files can be found at the [datasets](../datasets/) folder:

In [1]:
# Allow multiple output/display from one cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
import pandas as pd
import numpy as np

pop = pd.read_csv('../datasets/state-population.csv')
areas = pd.read_csv('../datasets/state-areas.csv')
abbrevs = pd.read_csv('../datasets/state-abbrevs.csv')

Let's take a look at the three data sets top 10 records

In [3]:
pop.head(10)
areas.head(10)
abbrevs.head(10)

  state/region     ages  year  population
0           AL  under18  2012   1117489.0
1           AL    total  2012   4817528.0
2           AL  under18  2010   1130966.0
3           AL    total  2010   4785570.0
4           AL  under18  2011   1125763.0
5           AL    total  2011   4801627.0
6           AL    total  2009   4757938.0
7           AL  under18  2009   1134192.0
8           AL  under18  2013   1111481.0
9           AL    total  2013   4833722.0

         state  area (sq. mi)
0      Alabama          52423
1       Alaska         656425
2      Arizona         114006
3     Arkansas          53182
4   California         163707
5     Colorado         104100
6  Connecticut           5544
7     Delaware           1954
8      Florida          65758
9      Georgia          59441

                  state abbreviation
0               Alabama           AL
1                Alaska           AK
2               Arizona           AZ
3              Arkansas           AR
4            California           CA
5              Colorado           CO
6           Connecticut           CT
7              Delaware           DE
8  District of Columbia           DC
9               Florida           FL

We want to merge based on the ``state/region``  column of ``pop``, and the ``abbreviation`` column of ``abbrevs``.
We'll use ``how='outer'`` to make sure no data is thrown away due to mismatched labels. After merged, let's show the top 5 records to see if merging is correct.

In [4]:
merged = pd.merge(pop, abbrevs, how='outer', left_on='state/region', right_on='abbreviation')
merged = merged.drop('abbreviation', 1) # drop duplicate info
merged.head()

  state/region     ages  year  population    state
0           AL  under18  2012   1117489.0  Alabama
1           AL    total  2012   4817528.0  Alabama
2           AL  under18  2010   1130966.0  Alabama
3           AL    total  2010   4785570.0  Alabama
4           AL  under18  2011   1125763.0  Alabama

And then let's quickly see what is the average and median population for each state.

In [14]:
merged.groupby('state').agg({'population':['mean', 'median']})

                        population
                              mean      median
state
Alabama               2.797862e+06   2592491.0
Alaska                4.164389e+05    372963.0
Arizona               3.337577e+06   2656374.0
Arkansas              1.686640e+06   1534266.5
California            2.170908e+07  19689006.0
Colorado              2.727803e+06   2272775.0
Connecticut           2.128442e+06   2071541.0
Delaware              4.979201e+05    437890.0
District of Columbia  3.496533e+05    344426.0
Florida               1.008313e+07   8532202.5
Georgia               5.285421e+06   4501743.0
Hawaii                7.781240e+05    712352.0
Idaho                 8.576250e+05    720672.5
Illinois              7.757703e+06   7349130.0
Indiana               3.838380e+06   3584646.0
Iowa                  1.831789e+06   1757177.5
Kansas                1.703569e+06   1604539.0
Kentucky              2.536397e+06   2358863.5
Louisiana             2.811572e+06   2735822.0
Maine                 7.906852e+05    771644.5
Maryland              3.357502e+06   3091610.0
Massachusetts         3.891187e+06   3761749.0
Michigan              6.157709e+06   5953716.5
Minnesota             3.108525e+06   2840559.0
Mississippi           1.794283e+06   1677279.5
Missouri              3.522333e+06   3280113.0
Montana               5.716055e+05    518746.5
Nebraska              1.087942e+06   1023004.0
Nevada                1.310279e+06    943368.0
New Hampshire         7.675910e+05    711336.0
New Jersey            5.227053e+06   4946007.0
New Mexico            1.175271e+06   1020168.5
New York              1.171282e+07  11354079.0
North Carolina        5.140725e+06   4474810.5
North Dakota          4.066764e+05    403960.5
Ohio                  7.079279e+06   6880768.5
Oklahoma              2.192022e+06   2047926.0
Oregon                2.146920e+06   1863284.5
Pennsylvania          7.615765e+06   7422769.5
Rhode Island          6.390411e+05    627342.5
South Carolina        2.569703e+06   2290566.5
South Dakota          4.840280e+05    452772.0
Tennessee             3.579156e+06   3194791.0
Texas                 1.381758e+07  12049370.5
Utah                  1.536009e+06   1313906.0
Vermont               3.735618e+05    358144.0
Virginia              4.494164e+06   4040709.5
Washington            3.747736e+06   3249419.0
West Virginia         1.114171e+06   1114672.5
Wisconsin             3.371227e+06   3137501.0
Wyoming               3.212865e+05    295711.5

Let's double-check whether there were any mismatches here, which we can do by looking for rows with nulls:

In [5]:
merged.isnull().any()

state/region    False
ages            False
year            False
population       True
state            True
dtype: bool

Some of the ``population`` info is null; let's figure out which these are!

In [6]:
merged[merged['population'].isnull()].head()

     state/region     ages  year  population state
2448           PR  under18  1990         NaN   NaN
2449           PR    total  1990         NaN   NaN
2450           PR    total  1991         NaN   NaN
2451           PR  under18  1991         NaN   NaN
2452           PR    total  1993         NaN   NaN

It appears that all the null population values are from Puerto Rico prior to the year 2000; this is likely due to this data not being available from the original source.

More importantly, we see also that some of the new ``state`` entries are also null, which means that there was no corresponding entry in the ``abbrevs`` key!
Let's figure out which regions lack this match:

In [7]:
merged.loc[merged['state'].isnull(), 'state/region'].unique()

array(['PR', 'USA'], dtype=object)

We can quickly infer the issue: our population data includes entries for Puerto Rico (PR) and the United States as a whole (USA), while these entries do not appear in the state abbreviation key.
We can fix these quickly by filling in appropriate entries:

In [8]:
merged.loc[merged['state/region'] == 'PR', 'state'] = 'Puerto Rico'
merged.loc[merged['state/region'] == 'USA', 'state'] = 'United States'
merged.isnull().any()

state/region    False
ages            False
year            False
population       True
state           False
dtype: bool

No more nulls in the ``state`` column: we're all set!

Now we can merge the result with the area data using a similar procedure.
Examining our results, we will want to join on the ``state`` column in both:

In [9]:
final = pd.merge(merged, areas, on='state', how='left')
final.head()

  state/region     ages  year  population    state  area (sq. mi)
0           AL  under18  2012   1117489.0  Alabama        52423.0
1           AL    total  2012   4817528.0  Alabama        52423.0
2           AL  under18  2010   1130966.0  Alabama        52423.0
3           AL    total  2010   4785570.0  Alabama        52423.0
4           AL  under18  2011   1125763.0  Alabama        52423.0

Again, let's check for nulls to see if there were any mismatches:

In [10]:
final.isnull().any()

state/region     False
ages             False
year             False
population        True
state            False
area (sq. mi)     True
dtype: bool

There are nulls in the ``area`` column; we can take a look to see which regions were ignored here:

In [11]:
final['state'][final['area (sq. mi)'].isnull()].unique()

array(['United States'], dtype=object)

We see that our ``areas`` ``DataFrame`` does not contain the area of the United States as a whole.
We could insert the appropriate value (using the sum of all state areas, for instance), but in this case we'll just drop the null values because the population density of the entire United States is not relevant to our current discussion:

In [12]:
final.dropna(inplace=True)
final.head()

  state/region     ages  year  population    state  area (sq. mi)
0           AL  under18  2012   1117489.0  Alabama        52423.0
1           AL    total  2012   4817528.0  Alabama        52423.0
2           AL  under18  2010   1130966.0  Alabama        52423.0
3           AL    total  2010   4785570.0  Alabama        52423.0
4           AL  under18  2011   1125763.0  Alabama        52423.0

Now we have all the data we need. To answer the question of interest, let's first select the portion of the data corresponding with the year 2000, and the total population.
You can use the ``query()`` function to do this quickly.

In [13]:
data2010 = final.query("year == 2010 & ages == 'total'")
data2010.head()

    state/region   ages  year  population       state  area (sq. mi)
3             AL  total  2010   4785570.0     Alabama        52423.0
91            AK  total  2010    713868.0      Alaska       656425.0
101           AZ  total  2010   6408790.0     Arizona       114006.0
189           AR  total  2010   2922280.0    Arkansas        53182.0
197           CA  total  2010  37333601.0  California       163707.0

Now let's compute the population density and display it in order.
We'll start by re-indexing our data on the state, and then compute the result:

In [14]:
data2010.set_index('state', inplace=True)
density = data2010['population'] / data2010['area (sq. mi)']

In [15]:
density.sort_values(ascending=False, inplace=True)
density.head()

state
District of Columbia    8898.897059
Puerto Rico             1058.665149
New Jersey              1009.253268
Rhode Island             681.339159
Connecticut              645.600649
dtype: float64

The result is a ranking of US states plus Washington, DC, and Puerto Rico in order of their 2010 population density, in residents per square mile.
We can see that by far the densest region in this dataset is Washington, DC (i.e., the District of Columbia); among states, the densest is New Jersey.

We can also check the end of the list:

In [16]:
density.tail()

state
South Dakota    10.583512
North Dakota     9.537565
Montana          6.736171
Wyoming          5.768079
Alaska           1.087509
dtype: float64