In [9]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from apyori import apriori

In [10]:
aa = pd.read_csv('dummy.csv', header=None)   
aa.head()

,0,1,2,3,4
0,hcs1,hcs2,hcs3,hcs4,hcs5
1,51-100 General Laborer/Production,51-300 Machinist,51-240 QA Technician/Inspector,NaN,NaN
2,15-230 PC Technician,47-120 Electrician,19-140 Field Technician,19-140 Field Technician,47-120 Electrician
3,51-140 Assembler - Light,51-100 General Laborer/Production,51-130 Material Handler/Packer,NaN,NaN
4,51-140 Assembler - Light,18-300 Maintenance Tech/Mechanic,51-100 General Laborer/Production,NaN,NaN

In [11]:
aa

,0,1,2,3,4
0,hcs1,hcs2,hcs3,hcs4,hcs5
1,51-100 General Laborer/Production,51-300 Machinist,51-240 QA Technician/Inspector,NaN,NaN
2,15-230 PC Technician,47-120 Electrician,19-140 Field Technician,19-140 Field Technician,47-120 Electrician
3,51-140 Assembler - Light,51-100 General Laborer/Production,51-130 Material Handler/Packer,NaN,NaN
4,51-140 Assembler - Light,18-300 Maintenance Tech/Mechanic,51-100 General Laborer/Production,NaN,NaN
5,47-150 Drywall Finisher/Carpenter,51-100 General Laborer/Production,51-200 Machine Operator,51-100 General Laborer/Production,51-130 Material Handler/Packer
6,51-120 Warehouse Worker,51-100 General Laborer/Production,51-140 Assembler - Light,NaN,NaN
7,18-560 Electronics Technician,51-140 Assembler - Light,51-210 Forklift/Heavy Machine Operator,NaN,NaN
8,51-130 Material Handler/Packer,51-130 Material Handler/Packer,19-140 Field Technician,51-210 Forklift/Heavy Machine Operator,NaN
9,51-220 Janitor,51-130 Material Handler/Packer,51-120 Warehouse Worker,NaN,NaN
10,51-100 General Laborer/Production,51-120 Warehouse Worker,51-130 Material Handler/Packer,NaN,NaN
11,51-100 General Laborer/Production,51-250 Shipping/Receiving Clerk,51-250 Shipping/Receiving Clerk,51-130 Material Handler/Packer,NaN
12,51-300 Machinist,51-120 Warehouse Worker,51-120 Warehouse Worker,51-100 General Laborer/Production,NaN
13,51-140 Assembler - Light,51-120 Warehouse Worker,51-340 Painter-Industrial,NaN,NaN

In [12]:
#convert the records to list
records = []
for i in range(0,13):
    records.append([str(aa.values[i,j]) for j in range(0,5)])

In [13]:
records

[['hcs1', 'hcs2', 'hcs3', 'hcs4', 'hcs5'],
 ['51-100 General Laborer/Production',
  '51-300 Machinist',
  '51-240 QA Technician/Inspector',
  'nan',
  'nan'],
 ['15-230 PC Technician',
  '47-120 Electrician',
  '19-140 Field Technician',
  '19-140 Field Technician',
  '47-120 Electrician'],
 ['51-140 Assembler - Light',
  '51-100 General Laborer/Production',
  '51-130 Material Handler/Packer',
  'nan',
  'nan'],
 ['51-140 Assembler - Light',
  '18-300 Maintenance Tech/Mechanic',
  '51-100 General Laborer/Production',
  'nan',
  'nan'],
 ['47-150 Drywall Finisher/Carpenter',
  '51-100 General Laborer/Production',
  '51-200 Machine Operator',
  '51-100 General Laborer/Production',
  '51-130 Material Handler/Packer'],
 ['51-120 Warehouse Worker',
  '51-100 General Laborer/Production',
  '51-140 Assembler - Light',
  'nan',
  'nan'],
 ['18-560 Electronics Technician',
  '51-140 Assembler - Light',
  '51-210 Forklift/Heavy Machine Operator',
  'nan',
  'nan'],
 ['51-130 Material Handler/Packer',
  '51-130 Material Handler/Packer',
  '19-140 Field Technician',
  '51-210 Forklift/Heavy Machine Operator',
  'nan'],
 ['51-220 Janitor',
  '51-130 Material Handler/Packer',
  '51-120 Warehouse Worker',
  'nan',
  'nan'],
 ['51-100 General Laborer/Production',
  '51-120 Warehouse Worker',
  '51-130 Material Handler/Packer',
  'nan',
  'nan'],
 ['51-100 General Laborer/Production',
  '51-250 Shipping/Receiving Clerk',
  '51-250 Shipping/Receiving Clerk',
  '51-130 Material Handler/Packer',
  'nan'],
 ['51-300 Machinist',
  '51-120 Warehouse Worker',
  '51-120 Warehouse Worker',
  '51-100 General Laborer/Production',
  'nan']]

Understanding the metrics:
Support

for eg:Support(51-100) = (number of transactions where 51-100 appears /Total number of transactions)

Support(51-100) =  8/13 = 0.61

Support (51-100,51-140,51-120) = 1/13 = 0.077

confidence:

Confidence (x => y) signifies the likelihood of the item y being purchased when the item x is purchased.

This method takes into account the popularity of the item x.

for eg: conf(51-100,51-140) => 51-120 = support (51-100,51-140,51-120) / support(51-100,51-140)

so lets calculate the confidence value : confidence (51-100,51-140,51-120) = 1/13 /3/13 = 0.23

lift

Lift (x => y) is nothing but the ‘interestingness’ or the likelihood of the item y being purchased when the item x is sold. 
Unlike confidence (x => y), this method takes into account the popularity of the item y.

for eg:lift((51-100,51-140) => 51-120) = support (51-100,51-140,51-120) / support(51-100,51-140) * support(51-120) 
= confidence((51-100,51-140) => 51-120) / support(51-120) 

so lets calculate the lift value : 1/3 / 5/13 = 0.2 (thus is very unlikely that all 3 shall occur together)

Lift (x => y) = 1 means that there is no correlation within the itemset.
Lift (x => y) > 1 means that there is a positive correlation within the itemset, i.e., products in the itemset, x and y, are more likely to be bought together.
Lift (x => y) < 1 means that there is a negative correlation within the itemset, i.e., products in itemset, x and y, are unlikely to be bought together.

![ar_formula](./ar_formula.png)

In [18]:
association_rules = apriori(records, min_support=0.0045, min_confidence=0.39, min_lift=1.2, min_length=2)
association_results = list(association_rules)

In [19]:
print(len(association_results))

105

In [20]:
print(association_results[0])

RelationRecord(items=frozenset({'15-230 PC Technician', '19-140 Field Technician'}), support=0.07692307692307693, ordered_statistics=[OrderedStatistic(items_base=frozenset({'15-230 PC Technician'}), items_add=frozenset({'19-140 Field Technician'}), confidence=1.0, lift=6.5), OrderedStatistic(items_base=frozenset({'19-140 Field Technician'}), items_add=frozenset({'15-230 PC Technician'}), confidence=0.5, lift=6.5)])

In [21]:
print(association_results[1])

RelationRecord(items=frozenset({'47-120 Electrician', '15-230 PC Technician'}), support=0.07692307692307693, ordered_statistics=[OrderedStatistic(items_base=frozenset({'15-230 PC Technician'}), items_add=frozenset({'47-120 Electrician'}), confidence=1.0, lift=13.0), OrderedStatistic(items_base=frozenset({'47-120 Electrician'}), items_add=frozenset({'15-230 PC Technician'}), confidence=1.0, lift=13.0)])

In [24]:
association_rules = apriori(records, min_support=0.5, min_confidence=0.39, min_lift=1.2, min_length=2)
association_results = list(association_rules)

In [25]:
print(len(association_results))

0

In [ ]:
association_rules = apriori(records, min_support=0.5, min_confidence=0.39, min_lift=1.2, min_length=2)
association_results = list(association_rules)