This note book will provide very basic information about Python programming for data scientists.

For more details on Python programming, recommend to read the book of "[Python Crash Course](https://nostarch.com/pythoncrashcourse2e)"

Indents in Python programming is very important since python programming syntax is totally based on indents. So, don't change indents without knowing why!

# Python Basic Data Structure

In [1]:
%load_ext memory_profiler

The memory_profiler extension is already loaded. To reload it, use:
  %reload_ext memory_profiler

## Variable Defining and Unpacking

In [2]:
a,b = (1,2)
c = (1,2)
print(a)
print(b)
print(c)

1
2
(1, 2)

In [3]:
a,b,*c,d = [1,2,3,4,5]
print(a)
print(b)
print(c)
print(d)

1
2
[3, 4]
5

In [4]:
a,b,*_,d = [1,2,3,4,5]
print(a)
print(b)
print(d)

1
2
5

## String

In [5]:
# first python hello world program: print!
print("Hello World")

Hello World

In [6]:
# assign a variable
string = "Hello World"
print(string)

Hello World

A string is immutable!
```python
string = "Hello World"
string[0] = "h"
```
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-39-12b7cfac514c> in <module>
      1 string = "Hello World"
----> 2 string[0] = "h"

TypeError: 'str' object does not support item assignment

In [7]:
# manuplate string (convert to a list)
sub_strings = string.split(" ")
print(sub_strings)

['Hello', 'World']

In [8]:
# Replace every occurrence of the character `"s"`with the character `"x"`
phrase = "Somebody said something to Samantha."
phrase = phrase.replace("s", "x")
print(phrase)

Somebody xaid xomething to Samantha.

In [9]:
# Try to find an upper-case "X" in user input:
my_input = input("Type something: ")
print(my_input.find("ok"))

Type something: this is okay
8

In [10]:
# handle string with comprehension expression
str1 = "12345"
"".join([s+"-" if s != str1[len(str1)-1] else s for s in str1 ])

'1-2-3-4-5'

In [11]:
# all the functions within string class
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

## List

In [12]:
# handle numbers
integer = 2 
print(float(integer))

2.0

In [13]:
# handle lists
list_num = len(sub_strings)
print(list_num)
print(sub_strings[0])
print(sub_strings[1])
sub_strings.append("Friends")
print(sub_strings)

2
Hello
World
['Hello', 'World', 'Friends']

In [14]:
# create a list by using range function
list_1 = list(range(5))
print(list_1)

[0, 1, 2, 3, 4]

In [15]:
# handle list with a powerful comprehension expression
list_num_1 = [1,2,3,4,5,6]
list_num_2 = [2,3,5]
print([x*2 for x in list_num_1 if x not in list_num_2])

[2, 8, 12]

In [16]:
# rotate a list with comprehension expression
N = 3 # make ratation 3 times
l1 = [1,2,3,4,5,6,7,8,9]
rotated_list = [l1[i%len(l1)] for i in range(N, N+len(l1))]
print(rotated_list)
N = 5 # make ratation 5 times
l1 = [1,2,3,4,5,6,7,8,9]
rotated_list = [l1[i%len(l1)] for i in range(N, N+len(l1))]
print(rotated_list)

[4, 5, 6, 7, 8, 9, 1, 2, 3]
[6, 7, 8, 9, 1, 2, 3, 4, 5]

In [17]:
list_num = [1,2,3]
list_num[0] = 2
print(list_num)

[2, 2, 3]

In [18]:
# all the functions within list class
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

## Tuple

In [19]:
# handle touples
my_tuple = ("hello", "world")
print(my_tuple[0] + " " + my_tuple[1])

hello world

In [20]:
my_tuple = ("A big", "world")
print(my_tuple[0] + " " + my_tuple[1])

A big world

__tuple is immutable!__
```python
my_tuple[0] = "hello 1"

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-23-58b1ae9e38da> in <module>
      1 # tuple is immutable!
----> 2 my_tuple[0] = "hello 1"

TypeError: 'tuple' object does not support item assignment
```

In [21]:
# handle tuple(s) with comprehension expression
my_tuple = tuple((i*2 for i in range(5)))
print(my_tuple)

(0, 2, 4, 6, 8)

In [22]:
# all the functions within tuple class
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

## Dictionary

In [23]:
# handle dictionaries
my_dict = {1: "hello", 2:"world"}
print(my_dict[1])
print(my_dict[2])

hello
world

In [24]:
my_dict[1]

'hello'

In [25]:
# counting with dictionary
my_list = [1,2,2,2,3,4,4,4,5,6,7,7,7]
my_dict = {}
for x in my_list:
    my_dict[x] = my_dict.get(x, 0) + 1
print(my_dict)

{1: 1, 2: 3, 3: 1, 4: 3, 5: 1, 6: 1, 7: 3}

In [26]:
[x for x in list(my_dict.keys())]

[1, 2, 3, 4, 5, 6, 7]

In [27]:
# handle a dictionary with comprehension
my_dict = {1: "hello", 2:"world"}
print({v for k,v in my_dict.items()})

{'world', 'hello'}

In [28]:
# all the function within dictionary class
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

## Set

In [29]:
# handle set - mutable & non-ordered collection with unique elements
my_set = {1,2,3,4}
my_set.add(4)
my_set

{1, 2, 3, 4}

```set``` object is not subscriptable
```python
my_set[0]
```
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-22-158c424478a1> in <module>
----> 1 my_set[0]

TypeError: 'set' object is not subscriptable

In [30]:
# handle set with comprehension expression
my_set = {i*2 for i in range(5)}
my_set

{0, 2, 4, 6, 8}

In [31]:
# all the functions within set class
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

## Data Structure Conversion

In [32]:
list(my_dict)

[1, 2]

In [33]:
list(my_dict.values())

['hello', 'world']

In [34]:
# convert two lists into dictionary
list_1 = [1,2,3]
list_2 = ["ivan", "Mital", "Sandeep"]
tmp = zip(list_1, list_2)
for item in tmp:
    print(item)
dict_2 = dict(zip(list_1, list_2))
print(dict_2)

(1, 'ivan')
(2, 'Mital')
(3, 'Sandeep')
{1: 'ivan', 2: 'Mital', 3: 'Sandeep'}

In [35]:
# convert a list into dictionary
my_list = range(10) # [0,1,2,3,4,5,6,7,8,9]
values = my_list[1::2] # [1,3,5,7,9]
keys = my_list[0::2] # [0,2,4,6,8]
dict(zip(keys,values))

{0: 1, 2: 3, 4: 5, 6: 7, 8: 9}

In [36]:
# convert two tuples into a dictionary
tuple_1 = (1,2,3)
tuple_2 = ("ivan", "mital", "sandeep")
dict(zip(tuple_1, tuple_2))

{1: 'ivan', 2: 'mital', 3: 'sandeep'}

In [37]:
# convert a tuple to a list
my_tuple = (1, "ivan")
list(my_tuple)

[1, 'ivan']

In [38]:
# convert a list to a tuple
my_list = [1,2,"ivan", "chen"]
tuple(my_list)

(1, 2, 'ivan', 'chen')

In [39]:
# convert a dictionary into a tuple
my_dict = {1:"ivan",2:"mital",3:"sandeep"}
print(tuple(my_dict.items()))

((1, 'ivan'), (2, 'mital'), (3, 'sandeep'))

In [40]:
# convert a dictionary into a list of tuples
my_dict = {1:"ivan",2:"mital",3:"sandeep"}
print([x for x in my_dict.items()])

[(1, 'ivan'), (2, 'mital'), (3, 'sandeep')]

In [41]:
# convert a dictionary into a list
my_dict = {1:"ivan",2:"mital",3:"sandeep"}
my_list = []
for key, value in my_dict.items():
    my_list.append(key)
    my_list.append(value)
    
print(my_list)

[1, 'ivan', 2, 'mital', 3, 'sandeep']

## Data Structure Operations

In [42]:
# operations on strings
str1 = "12345"
str2 = "6789"
print(str1 + str2)
print(str1 * 2)

123456789
1234512345

In [43]:
# operations on lists
list1 = [1,2,3,4,5]
list2 = [6,7,8,9]
print(list1 + list2)
print(list1 * 2)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [44]:
# operations on tuples
tuple1 = (1,2,3,4,5)
tuple2 = (6,7,8,9)
print(tuple1 + tuple2)
print(tuple1 * 2)

(1, 2, 3, 4, 5, 6, 7, 8, 9)
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [45]:
# operations on sets
set1 = {1,2,3,4,5}
set2 = {5,6,7,8,9}
print(set1.union(set2))

{1, 2, 3, 4, 5, 6, 7, 8, 9}

## Sorting

Sorted function can sort elements in an iterable object (list, tuple, dictionary, set and collection). Some data structures have build-in sort method also to sort their elements.

__Sort a List__

In [46]:
numbers = [3,7,1,5,4]
numbers_sorted = sorted(numbers)
print(numbers)
print(numbers_sorted)
numbers.sort()
print(numbers)
numbers_sorted = sorted(numbers, reverse=True)
print(numbers_sorted)

[3, 7, 1, 5, 4]
[1, 3, 4, 5, 7]
[1, 3, 4, 5, 7]
[7, 5, 4, 3, 1]

In [47]:
cities = ['Munich', 'Rome', 'Barcelona', 'Paris']
cities_sorted = sorted(cities, key=len)
print(cities_sorted)

['Rome', 'Paris', 'Munich', 'Barcelona']

__Sort a Tuple__

In [48]:
numbers = (5,1,8,3)
numbers_sorted = sorted(numbers)
print(numbers_sorted)
numbers_sorted_reverse = sorted(numbers, reverse=True)
print(numbers_sorted_reverse)

[1, 3, 5, 8]
[8, 5, 3, 1]

__Sort a Set__

In [49]:
cities = {'Munich', 'Rome', 'Barcelona', 'Paris'}
cities_sorted = sorted(cities, reverse=True)
print(cities_sorted)

['Rome', 'Paris', 'Munich', 'Barcelona']

__Sort a Dictionary__

In [50]:
elements = {'hydrogen':1, 'helium':2, 'carbon':3}
key_sorted = sorted(elements)
print(key_sorted)

['carbon', 'helium', 'hydrogen']

In [51]:
elements = {'hydrogen':1, 'helium':3, 'carbon':2}
value_sorted = sorted(elements, key=elements.get)
print(value_sorted)

['hydrogen', 'carbon', 'helium']

In [52]:
elements = {'hydrogen':1, 'helium':3, 'carbon':2}
elements_bykeys = {key:elements[key] for key in sorted(elements)}
print(elements_bykeys)
elements_byvalues = {key:elements[key] for key in sorted(elements, key=elements.get)}
print(elements_byvalues)

{'carbon': 2, 'helium': 3, 'hydrogen': 1}
{'hydrogen': 1, 'carbon': 2, 'helium': 3}

# Loop

In [53]:
# create a FOR loop
sub_strings = "Hello World Friends".split()
for item in sub_strings:
    print(item)

Hello
World
Friends

In [54]:
# create a WHILE loop
sub_strings = "Hello World Friends".split()
x = 0
while x < len(sub_strings):
    print(sub_strings[x])
    x = x + 1

Hello
World
Friends

In [55]:
# Create a loop with enumerate function to access index and value at the same time
numbers = [45, 22, 14, 65, 97, 72]
for i, value in enumerate(numbers):
    if value % 3 == 0 and value % 5 == 0:
        numbers[i] = 'fizzbuzz'
    elif value % 3 == 0:
        numbers[i] = 'fizz'
    elif value % 5 == 0:
        numbers[i] = 'buzz'
print(numbers)

['fizzbuzz', 22, 14, 'buzz', 97, 'fizz']

# Condition Statement

In [56]:
# condition
list_num = 1
if (list_num == 2):
    print(list_num)
else:
    print("Something Wrong!")

Something Wrong!

In [57]:
# condition
list_num = 1
if (list_num == 2):
    print(list_num)
elif (list_num > 2):
    print("Nothing")
else:
    print("Something Wrong!")

Something Wrong!

In [58]:
# Python doesn't have native switch statement.
# We can implement one, for example, like below
def week(i):
    switcher={0:'Sunday', 1:'Monday',2:'Tuesday', 3:'Wednesday', 4:'Thursday', 5:'Friday', 6:'Saturday'}
    return switcher.get(i,"Invalid day of week")
    
week(2)

'Tuesday'

# Function

## Define Function

In [59]:
# define a simple function
def print_list(x="default", y=None):
    for item in x:
        print(item)
    return y

print_list(sub_strings)

Hello
World
Friends

In [60]:
# define a function to use f-string fucntion to format string output
def get_name_age(name, age):
    return f"My name is {name} and I'm {age} years old"

print(get_name_age("Ivan", 18))

My name is Ivan and I'm 18 years old

## Lambda Function

In [61]:
# lambda function
add = (lambda x, y: x + y)
type(add)

function

In [62]:
add(2, 3)

5

In [63]:
# filter() with lambda() 
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61] 
final_list = list(filter(lambda x: (x%2 != 0) , li)) 
print(final_list)

[5, 7, 97, 77, 23, 73, 61]

In [64]:
# to get double of a list. 
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61] 
final_list = list(map(lambda x: x*2 , li)) 
print(final_list)

[10, 14, 44, 194, 108, 124, 154, 46, 146, 122]

In [65]:
# reduce() with lambda() 
# to get sum of a list 
from functools import reduce
li = [5, 8, 10, 20, 50, 100] 
sum = reduce((lambda x, y: x + y), li) 
print(sum)

193

# Class

In [66]:
# define a class to include all variables and operations all together for object-oriented programming
class Car:
    def __init__(self, color, mileage):
        self.color = color
        self.mileage = mileage
    def print_info(self):
        print(f"The {self.color} car has {self.mileage:,} miles")

blue_car = Car("blue", 20000)
blue_car.print_info()

red_car = Car("red", 30000)
red_car.print_info()

for car in (blue_car, red_car):
    print(f"The {car.color} car has {car.mileage:,} miles")

The blue car has 20,000 miles
The red car has 30,000 miles
The blue car has 20,000 miles
The red car has 30,000 miles

# File

In [67]:
# handle file - creae a simple text file
fhandle = open('test.txt', 'w')
content = "this is a test, please read it now!\nthis is second line, please ignore it!"
with fhandle as f:
    f.write(content)

In [68]:
# handle file - read the simple text file
fhandle = open('test.txt','r')
print(fhandle.read())

this is a test, please read it now!
this is second line, please ignore it!

In [69]:
# handle file - read the simple text file line by line
fhandle = open('test.txt','r')
with fhandle as f:
    for line in f:
        print(line.strip())

this is a test, please read it now!
this is second line, please ignore it!

In [70]:
# Working With File Paths in Python

from pathlib import Path

file_path = Path.home() / "my_folder" / "my_file.txt"

print(file_path.exists())

print(file_path.name)

print(file_path.parent.name)

False
my_file.txt
my_folder

In [71]:
# Read and Write CSV Data with more controls
import csv
from pathlib import Path

numbers = [
    [1, 2, 3, 4, 5],
    [6, 7, 8, 9, 10],
    [11, 12, 13, 14, 15],
]

file_path = Path.home() / "numbers.csv"

with file_path.open(mode="w", encoding="utf-8") as file:
    writer = csv.writer(file)
    writer.writerows(numbers)

numbers = []

with file_path.open(mode="r", encoding="utf-8") as file:
    reader = csv.reader(file)
    for row in reader:
        int_row = [int(num) for num in row]
        numbers.append(int_row)

print(numbers)

[[1, 2, 3, 4, 5], [], [6, 7, 8, 9, 10], [], [11, 12, 13, 14, 15], []]

# Context Manager

In [72]:
# custom defined context manager
# Method 1
class OpenFile:
    def __init__(self, file, mode):
        self.file = file
        self.mode = mode

    def __enter__(self):
        self.f = open(self.file, self.mode)
        return self.f

    def __exit__(self, exc_type, exc_val, exc_tb):
        self.f.close()

with OpenFile('test.txt', 'w') as f:
    f.write('Something to write to mine')
print(f.closed)

True

In [73]:
# Method 2
from contextlib import contextmanager

@contextmanager
def OpenFile(file, mode):
    f = open(file, mode)
    yield f
    f.close()
    
with OpenFile('test.txt', 'w') as f:
    f.write('Something to write to mine')
print(f.closed)

True

# Take Advantage of Additional Python Library

## Handle Missing Dictionary Keys

In [74]:
from collections import defaultdict

student_grades = defaultdict(list)
grades = [('elliot', 91),('neelam', 98),('bianca', 81),('elliot', 88),]
for name, grade in grades:
    student_grades[name].append(grade)

print([(k,v) for k,v in student_grades.items()])

[('elliot', [91, 88]), ('neelam', [98]), ('bianca', [81])]

## Count Hashable Objects With collections.Counter

In [75]:
from collections import Counter

words = "if there was there was but if there was not there was not".split()
counts = Counter(words)
print([(k,v) for k,v in counts.items()])
counts.most_common(2)

[('if', 2), ('there', 4), ('was', 4), ('but', 1), ('not', 2)]

[('there', 4), ('was', 4)]

## Generate Permutations and Combinations With itertools

In [76]:
import itertools

friends = ['Monique', 'Ashish', 'Devon', 'Bernie']
print("Permutations are: ", list(itertools.permutations(friends, r=2)))
print("Combinations are: ", list(itertools.combinations(friends, r=2)))

Permutations are:  [('Monique', 'Ashish'), ('Monique', 'Devon'), ('Monique', 'Bernie'), ('Ashish', 'Monique'), ('Ashish', 'Devon'), ('Ashish', 'Bernie'), ('Devon', 'Monique'), ('Devon', 'Ashish'), ('Devon', 'Bernie'), ('Bernie', 'Monique'), ('Bernie', 'Ashish'), ('Bernie', 'Devon')]
Combinations are:  [('Monique', 'Ashish'), ('Monique', 'Devon'), ('Monique', 'Bernie'), ('Ashish', 'Devon'), ('Ashish', 'Bernie'), ('Devon', 'Bernie')]

## Use Less Memory with Generator

In [77]:
# Build and return a list
def firstn(n):
    num, nums = 0, []
    while num < n:
        nums.append(num)
        num += 1
    return nums
 
%memit sum_of_first_n = firstn(1000000)

peak memory: 134.48 MiB, increment: 76.77 MiB

In [78]:
# a generator that yields items instead of returning a list
def firstn(n):
    num = 0
    while num < n:
        yield num
        num += 1

%memit sum_of_first_n = firstn(1000000)

peak memory: 58.44 MiB, increment: -38.35 MiB

In [79]:
import numpy as np

%timeit np.sum([i * i for i in range(1,1000001)]) # use list comprehension
%memit np.sum([i * i for i in range(1,1000001)]) # use list comprehension
%timeit np.sum((i * i for i in range(1,1000001))) # use generator expression
%memit np.sum((i * i for i in range(1,1000001))) # use generator expression

316 ms ± 38 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
peak memory: 109.75 MiB, increment: 40.34 MiB

C:\Users\ychen\AppData\Local\Continuum\anaconda3\envs\tf-gpu\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.
  """Entry point for launching an IPython kernel.

135 ms ± 10.6 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)
peak memory: 68.44 MiB, increment: 0.01 MiB

## More Functions and Classes in Additional Libraries

In [80]:
# import additional python libraries to use more powerful functions and classes
import numpy as np
import pandas as pd

numbers = [
    [1, 2, 3, 4, 5],
    [6, 7, 8, 9, 10],
    [11, 12, 13, 14, 15, 16, 17],
]

df = pd.DataFrame(numbers)
df.head(5)

    0   1   2   3   4     5     6
0   1   2   3   4   5   NaN   NaN
1   6   7   8   9  10   NaN   NaN
2  11  12  13  14  15  16.0  17.0

# Exercise

The following codes will save a csv file with some sample data
```python
import csv
from pathlib import Path

favorite_colors = [
    {"name": "Joe", "favorite_color": "blue"},
    {"name": "Anne", "favorite_color": "green"},
    {"name": "Bailey", "favorite_color": "red"},
]

file_path = Path.home() / "favorite_colors.csv"

with file_path.open(mode="w", encoding="utf-8") as file:
    writer = csv.DictWriter(file, fieldnames=["name", "favorite_color"])
    writer.writeheader()
    writer.writerows(favorite_colors)
```
Your task is: read this favorite_colors.csv file and then change the values in name column to your name and show the results

To see a solution
use the following command
```
%load exercise_solution.py
```