This note book will provide very basic information about Python programming for data scientists.

For more details on Python programming, recommend to read the book of "[Python Crash Course](https://nostarch.com/pythoncrashcourse2e)"

Indents in Python programming is very important since python programming syntax is totally based on indents. So, don't change indents without knowing why!

# Python Basics

In [1]:
# first python hello world program: print!
print("Hello World")

In [2]:
# assign a variable
string = "Hello World"
print(string)

A string is immutable!
```python
string = "Hello World"
string[0] = "h"
```
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-39-12b7cfac514c> in <module>
      1 string = "Hello World"
----> 2 string[0] = "h"

TypeError: 'str' object does not support item assignment

In [3]:
# manuplate string (convert to a list)
sub_strings = string.split(" ")
print(sub_strings)

In [4]:
# Replace every occurrence of the character `"s"`with the character `"x"`
phrase = "Somebody said something to Samantha."
phrase = phrase.replace("s", "x")
print(phrase)

In [5]:
# Try to find an upper-case "X" in user input:
my_input = input("Type something: ")
print(my_input.find("ok"))

Type something: this is okay
8

In [6]:
# handle numbers
integer = 2 
print(float(integer))

2.0

In [7]:
# handle lists
list_num = len(sub_strings)
print(list_num)
print(sub_strings[0])
print(sub_strings[1])
sub_strings.append("Friends")
print(sub_strings)

2
Hello
World
['Hello', 'World', 'Friends']

In [8]:
# create a list by using range function
list_1 = list(range(5))
print(list_1)

[0, 1, 2, 3, 4]

In [9]:
# handle list with a powerful expression
list_num_1 = [1,2,3,4,5,6]
list_num_2 = [2,3,5]
print([x*2 for x in list_num_1 if x not in list_num_2])

[2, 8, 12]

In [10]:
list_num = [1,2,3]
list_num[0] = 2
print(list_num)

[2, 2, 3]

In [11]:
# handle touples
my_tuple = ("hello", "world")
print(my_tuple[0] + " " + my_tuple[1])

hello world

In [12]:
my_tuple = ("A big", "world")
print(my_tuple[0] + " " + my_tuple[1])

A big world

__tuple is immutable!__
```python
my_tuple[0] = "hello 1"

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-23-58b1ae9e38da> in <module>
      1 # tuple is immutable!
----> 2 my_tuple[0] = "hello 1"

TypeError: 'tuple' object does not support item assignment
```

In [13]:
# handle dictionaries
my_dict = {1: "hello", 2:"world"}
print(my_dict[1])
print(my_dict[2])

hello
world

In [14]:
my_dict[1]

'hello'

In [15]:
[x for x in list(my_dict.keys())]

[1, 2]

In [16]:
list(my_dict)

[1, 2]

In [17]:
list(my_dict.values())

['hello', 'world']

In [18]:
# convert two lists into dictionary
list_1 = [1,2,3]
list_2 = ["ivan", "Mital", "Sandeep"]
tmp = zip(list_1, list_2)
for item in tmp:
    print(item)
dict_2 = dict(zip(list_1, list_2))
print(dict_2)

(1, 'ivan')
(2, 'Mital')
(3, 'Sandeep')
{1: 'ivan', 2: 'Mital', 3: 'Sandeep'}

In [19]:
# convert a list into dictionary
my_list = range(10) # [0,1,2,3,4,5,6,7,8,9]
values = my_list[1::2] # [1,3,5,7,9]
keys = my_list[0::2] # [0,2,4,6,8]
dict(zip(keys,values))

{0: 1, 2: 3, 4: 5, 6: 7, 8: 9}

In [20]:
# convert two tuples into a dictionary
tuple_1 = (1,2,3)
tuple_2 = ("ivan", "mital", "sandeep")
dict(zip(tuple_1, tuple_2))

{1: 'ivan', 2: 'mital', 3: 'sandeep'}

In [21]:
# convert a tuple to a list
my_tuple = (1, "ivan")
list(my_tuple)

[1, 'ivan']

In [22]:
# convert a list to a tuple
my_list = [1,2,"ivan", "chen"]
tuple(my_list)

(1, 2, 'ivan', 'chen')

In [23]:
# convert a dictionary into a tuple
my_dict = {1:"ivan",2:"mital",3:"sandeep"}
print(tuple(my_dict.items()))

((1, 'ivan'), (2, 'mital'), (3, 'sandeep'))

In [24]:
# convert a dictionary into a list of tuples
my_dict = {1:"ivan",2:"mital",3:"sandeep"}
print([x for x in my_dict.items()])

[(1, 'ivan'), (2, 'mital'), (3, 'sandeep')]

In [25]:
# convert a dictionary into a list
my_dict = {1:"ivan",2:"mital",3:"sandeep"}
my_list = []
for key, value in my_dict.items():
    my_list.append(key)
    my_list.append(value)
    
print(my_list)

[1, 'ivan', 2, 'mital', 3, 'sandeep']

In [26]:
# counting with dictionary
my_list = [1,2,2,2,3,4,4,4,5,6,7,7,7]
my_dict = {}
for x in my_list:
    my_dict[x] = my_dict.get(x, 0) + 1
print(my_dict)

{1: 1, 2: 3, 3: 1, 4: 3, 5: 1, 6: 1, 7: 3}

In [27]:
# make a loop
for item in sub_strings:
    print(item)

Hello
World
Friends

In [28]:
# condition
list_num = 1
if (list_num == 2):
    print(list_num)
elif (list_num > 2):
    print("Nothing")
else:
    print("Something Wrong!")

Something Wrong!

In [29]:
# define a function
def print_list(x="default", y=None):
    for item in x:
        print(item)
    return y

print_list(sub_strings)

Hello
World
Friends

In [30]:
# lambda function
add = (lambda x, y: x + y)
type(add)

function

In [31]:
add(2, 3)

5

In [32]:
# filter() with lambda() 
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61] 
final_list = list(filter(lambda x: (x%2 != 0) , li)) 
print(final_list)

[5, 7, 97, 77, 23, 73, 61]

In [33]:
# to get double of a list. 
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61] 
final_list = list(map(lambda x: x*2 , li)) 
print(final_list)

[10, 14, 44, 194, 108, 124, 154, 46, 146, 122]

In [34]:
# reduce() with lambda() 
# to get sum of a list 
from functools import reduce
li = [5, 8, 10, 20, 50, 100] 
sum = reduce((lambda x, y: x + y), li) 
print(sum)

193

In [35]:
# import additional python libraries to use more powerful functions and classes
import numpy as np
import pandas as pd

numbers = [
    [1, 2, 3, 4, 5],
    [6, 7, 8, 9, 10],
    [11, 12, 13, 14, 15, 16, 17],
]

df = pd.DataFrame(numbers)
df.head(5)

    0   1   2   3   4     5     6
0   1   2   3   4   5   NaN   NaN
1   6   7   8   9  10   NaN   NaN
2  11  12  13  14  15  16.0  17.0

In [36]:
# define a class to include all variables and operations all together for object-oriented programming
class Car:
    def __init__(self, color, mileage):
        self.color = color
        self.mileage = mileage
    def print_info(self):
        print(f"The {self.color} car has {self.mileage:,} miles")

blue_car = Car("blue", 20000)
blue_car.print_info()

red_car = Car("red", 30000)
red_car.print_info()

for car in (blue_car, red_car):
    print(f"The {car.color} car has {car.mileage:,} miles")

The blue car has 20,000 miles
The red car has 30,000 miles
The blue car has 20,000 miles
The red car has 30,000 miles

In [37]:
# handle file - creae a simple text file
fhandle = open('test.txt', 'w')
content = "this is a test, please read it now!\nthis is second line, please ignore it!"
with fhandle as f:
    f.write(content)

In [38]:
# handle file - read the simple text file
fhandle = open('test.txt','r')
print(fhandle.read())

this is a test, please read it now!
this is second line, please ignore it!

In [39]:
# handle file - read the simple text file line by line
fhandle = open('test.txt','r')
with fhandle as f:
    for line in f:
        print(line.strip())

this is a test, please read it now!
this is second line, please ignore it!

In [40]:
# Working With File Paths in Python

from pathlib import Path

file_path = Path.home() / "my_folder" / "my_file.txt"

print(file_path.exists())

print(file_path.name)

print(file_path.parent.name)

False
my_file.txt
my_folder

In [41]:
# Read and Write CSV Data with more controls
import csv
from pathlib import Path

numbers = [
    [1, 2, 3, 4, 5],
    [6, 7, 8, 9, 10],
    [11, 12, 13, 14, 15],
]

file_path = Path.home() / "numbers.csv"

with file_path.open(mode="w", encoding="utf-8") as file:
    writer = csv.writer(file)
    writer.writerows(numbers)

numbers = []

with file_path.open(mode="r", encoding="utf-8") as file:
    reader = csv.reader(file)
    for row in reader:
        int_row = [int(num) for num in row]
        numbers.append(int_row)

print(numbers)

[[1, 2, 3, 4, 5], [], [6, 7, 8, 9, 10], [], [11, 12, 13, 14, 15], []]

# Exercise

Exercise
The following codes will save a csv file with some sample data
```python
import csv
from pathlib import Path

favorite_colors = [
    {"name": "Joe", "favorite_color": "blue"},
    {"name": "Anne", "favorite_color": "green"},
    {"name": "Bailey", "favorite_color": "red"},
]

file_path = Path.home() / "favorite_colors.csv"

with file_path.open(mode="w", encoding="utf-8") as file:
    writer = csv.DictWriter(file, fieldnames=["name", "favorite_color"])
    writer.writeheader()
    writer.writerows(favorite_colors)
```
Your task is: read this favorite_colors.csv file and then change the values in name column to your name and show the results

To see a solution
use the following command
```
%load exercise_solution.py
```